body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 120px;
    box-sizing: border-box;

}

#logo a{
    font-size: 52px;
    font-family: 'Oleo Script';
    text-decoration: none;
    color: rgb(214, 111, 51);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-transform: uppercase;
}

header ul{
    display: flex;
}

header li{
    margin-left: 20px;
}

header li a{
    font-size: 24px;
    padding: 7px 14px;
    color: rgb(214, 111, 51);
    text-decoration: none;
    border-radius: 6px;
    transition: .3s;
}

header li a:hover{
    color: #fff;
    background-color: rgba(214, 111, 51, .8);
}