#hero{
    background-image: url("images/cover-fix.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
}

#hero-content{
    margin: 0 auto;
    position: relative;
    top: 200px;
    padding: 50px 0;
    text-align: center;
    width: 900px;
    background-color: rgba(41, 41, 41, .8);
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    border-radius: 6px;
}

#hero-content h1{
    color: #fff;
    margin: 0;
    font-size: 52px;
    text-transform: uppercase;
}

#hero-content p{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300px;
}

#hero-content a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(255, 94, 0);
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgb(61, 62, 62);
    transition: .3s;
}

#hero-content a:hover{
    background-color: rgb(211, 60, 0);
}

#highlights{
    padding: 24px;
    background: linear-gradient(0deg, rgb(255, 243, 236), rgb(233, 216, 207));
}

#highlights h2{
    text-transform: uppercase;
    color: rgb(61, 62, 62);
    font-size: 40px;
    margin: 24px 0;
    text-align: center;
}

#destionations{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;
}

.destination{
    margin: 0 20px;
    text-transform: uppercase;
}

.destination p{
    text-align: center;
    font-size: 20px;
    color: rgb(61, 62, 62);
    margin: 20px 0;
}

.destination img{
    width: 380px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 2px 4px 8px rgb(61, 62, 62);
}

.destination strong{
    color: rgb(177, 50, 0);
}